{%- set templateConfiguration = templateConfiguration | default({}) -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0{% if templateConfiguration.prevent_zoom is defined and templateConfiguration.prevent_zoom %}, maximum-scale=1.0, user-scalable=no{% endif %}">

        <title>{{ render(controller("GluggiBundle:Gluggi:htmlTitle", {pageTitle: pageTitle})) }}</title>

        {% block gluggi_stylesheets %}
        <link rel="stylesheet" href="{{ asset("bundles/gluggi/css/gluggi.css") }}">
        {% endblock %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
        <link rel="icon" sizes="16x16 32x32 48x48" href="{{ asset('favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">
        <meta name="msapplication-TileColor" content="#1C57E1">
        <meta name="msapplication-TileImage" content="{{ asset('metro-tile-icon.png') }}">

        {% block stylesheets %}
            {{ render(controller("GluggiBundle:Gluggi:layoutCSSAssets")) }}
        {% endblock %}

        {% block javascripts_head %}
            {{ render(controller("GluggiBundle:Gluggi:layoutJavaScriptHeadAssets")) }}
        {% endblock %}
    </head>
    <body {% block body_attributes -%}
        {%- if templateConfiguration.body_class is defined -%}
            class="{{ templateConfiguration.body_class }}"
        {%- endif -%}
    {%- endblock %}>
        {% block body %}

            {% block header %}
                {# @var type \Becklyn\GluggiBundle\Data\ComponentType #}
                {# @var component \Becklyn\GluggiBundle\Data\Component #}
                <header class="gluggi-header">
                    <ul>
                        <li><a href="{{ path("gluggi") }}">Gluggi</a></li>

                        {% if type is defined %}
                            <li><a href="{{ path("gluggi.type", {type: type.key}) }}#gluggi-content">{{ type.name }}</a></li>

                            {% if component is defined %}
                                <li>{{ component.name }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </header>
            {% endblock %}

            {% block content "" %}

        {% endblock %}
        {% block javascripts %}
            {{ render(controller("GluggiBundle:Gluggi:layoutJavaScriptAssets")) }}
        {% endblock %}
    </body>
</html>
