{%- set templateConfiguration = templateConfiguration | default({}) -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0{% if templateConfiguration.prevent_zoom is defined and templateConfiguration.prevent_zoom %}, maximum-scale=1.0, user-scalable=no{% endif %}">

        <title>{{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::htmlTitle", {pageTitle: pageTitle})) }}</title>

        {% block gluggi_stylesheets %}
            <link rel="stylesheet" href="{{ asset("@gluggi_core/css/gluggi.css") }}">
        {% endblock %}

        {% block stylesheets %}
            {%- if templateConfiguration.override_assets.css is defined -%}
                {%- if templateConfiguration.override_assets.css is iterable -%}
                    {% for css_file in templateConfiguration.override_assets.css %}
                        <link rel="stylesheet" href="{{ asset(css_file) }}">
                    {% endfor %}
                {% else %}
                    <link rel="stylesheet" href="{{ asset(templateConfiguration.override_assets.css) }}">
                {%- endif -%}
            {%- else -%}
                {{ render(controller('Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets', {type: "css"})) }}

                {%- if templateConfiguration.add_assets.css is defined -%}
                    {%- if templateConfiguration.add_assets.css is iterable -%}
                        {% for css_file in templateConfiguration.add_assets.css %}
                            <link rel="stylesheet" href="{{ asset(css_file) }}">
                        {% endfor %}
                    {% else %}
                        <link rel="stylesheet" href="{{ asset(templateConfiguration.add_assets.css) }}">
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {% endblock %}

        {% block javascripts_head %}
            {%- if templateConfiguration.override_assets.js_head is defined -%}
                {%- if templateConfiguration.override_assets.js_head is iterable -%}
                    {% for js_head_file in templateConfiguration.override_assets.js_head %}
                        <script type="text/javascript" src="{{ asset(js_head_file) }}"></script>
                    {% endfor %}
                {% else %}
                    <script type="text/javascript" src="{{ asset(templateConfiguration.override_assets.js_head) }}"></script>
                {%- endif -%}
            {%- else -%}
                {{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {type: "js_head_head"})) }}

                {%- if templateConfiguration.add_assets.js_head is defined -%}
                    {%- if templateConfiguration.add_assets.js_head is iterable -%}
                        {% for js_head_file in templateConfiguration.add_assets.js_head %}
                            <script type="text/javascript" src="{{ asset(js_head_file) }}"></script>
                        {% endfor %}
                    {% else %}
                        <script type="text/javascript" src="{{ asset(templateConfiguration.add_assets.js_head) }}"></script>
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {% endblock %}
    </head>
    <body {% block body_attributes -%}
        {%- if templateConfiguration.body_class is defined -%}
            class="{{ templateConfiguration.body_class }}"
        {%- endif -%}
    {%- endblock %}>
        {% block body %}

            {% block header %}
                {# @var type \Becklyn\GluggiBundle\Data\ComponentType #}
                {# @var component \Becklyn\GluggiBundle\Data\Component #}
                <header class="gluggi-header">
                    <ul>
                        <li><a href="{{ path("gluggi") }}">Gluggi</a></li>

                        {% if type is defined %}
                            <li><a href="{{ path("gluggi") }}">{{ type.name }}</a></li>

                            {% if component is defined %}
                                <li>{{ component.name }}</li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </header>
            {% endblock %}

            {% block content "" %}

        {% endblock %}
        {% block javascripts %}
            {%- if templateConfiguration.override_assets.js is defined -%}
                {%- if templateConfiguration.override_assets.js is iterable -%}
                    {% for js_file in templateConfiguration.override_assets.js %}
                        <script type="text/javascript" src="{{ asset(js_file) }}"></script>
                    {% endfor %}
                {% else %}
                    <script type="text/javascript" src="{{ asset(templateConfiguration.override_assets.js) }}"></script>
                {%- endif -%}
            {%- else -%}
                {{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {type: "js"})) }}

                {%- if templateConfiguration.add_assets.js is defined -%}
                    {%- if templateConfiguration.add_assets.js is iterable -%}
                        {% for js_file in templateConfiguration.add_assets.js %}
                        <script type="text/javascript" src="{{ asset(js_file) }}"></script>
                        {% endfor %}
                    {% else %}
                        <script type="text/javascript" src="{{ asset(templateConfiguration.add_assets.js) }}"></script>
                    {%- endif -%}
                {%- endif -%}
            {%- endif -%}
        {% endblock %}
    </body>
</html>
