{% extends "@Gluggi/layout.html.twig" %}

{% block stylesheets "" %}
{% block javascripts "" %}

{% block content %}

    <div class="gluggi-index">
        {% if customTitle is not empty %}
            <h1>{{ customTitle }}</h1>
        {% endif %}

        <div class="gluggi-index-columns">
            <div class="gluggi-index-column">
                {%- for type in types if type.hasStandaloneComponents -%}
                    <h2>{{ type.name }}</h2>

                    <ul>
                        {%- for component in type.standaloneComponents -%}
                            <li>
                                <a href="{{ path("gluggi.component", {type: type.key, key: component.key}) }}">{{ component.name }}</a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endfor -%}
            </div>

            {%- if infoAction is not empty -%}
                {%- set infoHTML = render(controller(infoAction)) | trim -%}
                {%- if infoHTML is not empty -%}
                    <div class="gluggi-index-column">
                        {{- infoHTML | raw -}}
                    </div>
                {%- endif -%}
            {%- endif -%}
        </div>
    </div>


{% endblock %}
