{%- set templateConfiguration = templateConfiguration | default({}) -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0{% if templateConfiguration.prevent_zoom is defined and templateConfiguration.prevent_zoom %}, maximum-scale=1.0, user-scalable=no{% endif %}">
        <title>{{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::htmlTitle", {pageTitle: pageTitle})) }}</title>

        {%- block gluggi_stylesheets -%}
            {{- assets_link(["@gluggi_core/css/gluggi.css"]) -}}
        {%- endblock -%}

        {%- block stylesheets -%}
            {{- render(controller('Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets', {
                type: "css",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) -}}
        {%- endblock -%}

        {%- block javascripts_head -%}
            {{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {
                type: "js_head",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) }}
        {%- endblock -%}
    </head>
    <body class="gluggi {{ templateConfiguration.body_class ?? "" }}">
        <div class="gluggi-container">
        {%- block body -%}
            {%- block sidebar -%}
                {{- render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::sidebar", {
                    activeComponent: component ?? null,
                })) -}}
            {%- endblock -%}

            <div class="gluggi-content-view">
                {%- block content_container -%}
                    <div class="gluggi-content">
                        {%- block content "" -%}
                    </div>
                {%- endblock -%}
            </div>
        {%- endblock -%}
        </div>

        {%- block javascripts -%}
            {{- assets_link(["@gluggi_core/js/gluggi.js"]) -}}
            {{- render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {
                type: "js",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) -}}
        {%- endblock -%}
    </body>
</html>
