{%- set templateConfiguration = templateConfiguration | default({}) -%}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0{% if templateConfiguration.prevent_zoom is defined and templateConfiguration.prevent_zoom %}, maximum-scale=1.0, user-scalable=no{% endif %}">
        <title>{{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::htmlTitle", {pageTitle: pageTitle})) }}</title>

        {%- block gluggi_stylesheets -%}
            {{- assets_link(["@gluggi_core/css/gluggi.css"]) -}}
        {%- endblock -%}

        {%- block stylesheets -%}
            {{- render(controller('Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets', {
                type: "css",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) -}}
        {%- endblock -%}

        {%- block javascripts_head -%}
            {{ render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {
                type: "js_head",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) }}
        {%- endblock -%}
    </head>
    <body class="gluggi {{ templateConfiguration.body_class ?? "" }}">
        <div class="gluggi-container">
        {%- block body -%}
            <div class="gluggi-content-view">
                {%- block content_container -%}
                    <div class="gluggi-content">
                        {%- block content "" -%}
                    </div>
                {%- endblock -%}

                <div class="gluggi-content-actions">
                    <button type="button" class="gluggi-action gluggi-toggle-fullscreen">
                        <span class="gluggi-icon gluggi-icon-active">{{ include("@Gluggi/icon/minimize.svg") }}</span>
                        <span class="gluggi-icon gluggi-icon-inactive">{{ include("@Gluggi/icon/maximize.svg") }}</span>
                    </button>

                    <div class="gluggi-action-usages">
                        <button type="button" class="gluggi-action">
                            <span class="gluggi-icon">{{- include("@Gluggi/icon/chevron.svg") -}}</span> Usages
                        </button>
                        <div class="gluggi-usages-overview">
                            <div class="gluggi-usages-list">
                                <h3>Uses</h3>
                                <ul>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test test test test test test test test test test</span></a></li>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test2</span></a></li>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test3</span></a></li>
                                </ul>
                            </div>
                            <div class="gluggi-usages-list">
                                <h3>Used in</h3>
                                <ul>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test</span></a></li>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test2</span></a></li>
                                    <li><a href="#" class="gluggi-component-link"><span class="gluggi-component-name"><span class="gluggi-component-type">atom</span> test3</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {%- block sidebar -%}
                {{- render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::sidebar", {
                    activeComponent: component ?? null,
                })) -}}
            {%- endblock -%}

        {%- endblock -%}
        </div>

        {%- block javascripts -%}
            {{- assets_link(["@gluggi_core/js/gluggi.js"]) -}}
            {{- render(controller("Becklyn\\GluggiBundle\\Controller\\GluggiController::layoutAssets", {
                type: "js",
                addAssets: templateConfiguration.add_assets ?? [],
                overrideAssets: templateConfiguration.override_assets ?? [],
            })) -}}
        {%- endblock -%}
    </body>
</html>
