{% extends "@Gluggi/layout.html.twig" %}

{% block content %}

    <div class="gluggi-index">
        {%- for type, components in allTypes if components is not empty -%}
            <h2>{{ type | title }} <a href="{{ path("gluggi.type", {type: type}) }}#gluggi-content">alle anzeigen</a></h2>

            <ul>
            {%- for component in components -%}
                <li><a href="{{ path("gluggi.type", {type: type}) }}#{{ component.anchor }}">{{ component.name }}</a> <a href="{{ path("gluggi.component", {type: type, key: component.key}) }}#gluggi-content" class="gluggi-link-single">Einzelansicht</a></li>
            {%- endfor -%}
            </ul>
        {%- endfor -%}
    </div>

{% endblock %}
